{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>
    <!-- Bootstrap core CSS -->

    <script src="{% static 'material/js/jquery.js' %}"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>       
    <!-- Custom styles for this template -->
</head>
<style>
    .welcome{
        background: #808080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3fada8, #808080);  /* Chrome 10-25, Safari 5.1-6 */

    }
</style>
<body>
{%if user.is_authenticated %}
        {% include 'driver/navbar.html' %}
            <!-- <div class="container-fluid">
                    <div class="row">
                        <div class="col s12">
                                <div class="card detail" >
                                        <div class="card-header">Profile Details</div>
                                    <div class="card-body">
                                     <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Username : {{user.username}} </li>
                                        <li class="list-group-item">First name : {{user.first_name}}</li>
                                        <li class="list-group-item">Last name : {{user.last_name}}</li>
                                        <li class="list-group-item">Email : {{user.email}}</li>
                                        <li class="list-group-item">Phone number : {{user.phone}}</li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
            </div> -->
            <div class="row">
                    <div class="col s12">
                      <div class="welcome card-panel z-depth-3">
                          <div class="row">
                          <div class="col s12 center"><h1>Vehicle <font style="color : #0c0d19;">Service </font></h1></div>
                        </div>
                      </div>
                    </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="detail card-panel z-depth-3 ">
                        <div class="row">
                            <div class="col s12 center"><h2>Profile</h2></div>
                        </div>

                    
                    
                        <!-- div class="row center">
                            <div class="col s12 ">
                                <div class="det card-panel z-depth-3"> -->
                                        <ul class="collection">
                                                <li class="collection-item"><h5><span class="teal-text">Username</span> : {{user.username}}</h5></li>
                                                <li class="collection-item"><h5><span class="teal-text">First name</span> : {{user.first_name}}</h5></li>
                                                <li class="collection-item"><h5><span class="teal-text">Last name </span>: {{user.last_name}}</h5></li>
                                                <li class="collection-item"><h5><span class="teal-text">Email </span>: {{user.email}}</h5></li>
                                    </ul>
                                    <div class="row center">
                                        <div id="modal1" class="modal">
                                                <div class="modal-content left-align">
                                                  <form method="POST" action="/account/edit">
                                                {%csrf_token%}
                                                {{ form }}
                                                <input type="submit" value="edit">
                                                </form>
                                                <div class="row">
          
{%else%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">You are not logged</h1>
    </div>
</div>
{%endif%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
    $('.modal').modal();
  });
</script>
</body>

</html>
